#div1 {
    background-color: rgb(194, 0, 0);
    color: pink;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    width: 1000px;
    padding: 14px 16px;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 209, 216);
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    background-color: rgb(128, 0, 0);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
nav a {
    float: left;
    color: #eedbb2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
    background-color: #eedbb2;
    color: rgb(128, 0, 0);
}

/* Add a color to the active/current link */
nav a.active {
    background-color: rgb(255, 0, 0);
    color: white;
}